@use './elements';
@use './generics';
@use './settings';
@use './utilities';

@import 'react-toastify/dist/ReactToastify.css';

// Uncomment this to use tailwind class-style instead of @apply-style
// @tailwind base;
// @tailwind components;
// @tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}
