$color-flamingo: #eb5757;
	$color-festival: #f2c94c;
	$color-sunshade: #f79d48;
	$color-darkgray: #a7a7a7;
	$color-whitesmoke: #f5f5f5;
	$color-nero: #252525;

	$gradient: linear-gradient(
	  140deg,
	  rgba(228, 62, 104, 1) 0%,
	  rgba(250, 164, 73, 1) 100%
	);
